/* Definimos una fuente genérica y reiniciamos el modelo de caja */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Estilo básico del cuerpo de la página */
html,
body {
  max-width: 100vw;
  width: 100%;
  height: 100%; 
  overflow-x: hidden; /* Esto previene el scroll horizontal */
  min-height: 100vh;
  background-color: #000;
  color: #fff; 
  margin: 0;
  padding: 0;
}

/* Clases de utilidad */
.full-screen {
  width: 100vw;
  height: 100vh;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}